body{
    margin:0;
    background-image: url("ClockBackground.gif");
    background-position: center;
    background-size: 100%;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(3px);
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
}